# Folders #
###########
rombase/
.vscode/

# Compiled Source #
###################
*.o
*.exe
libdeflate.h
*dk64_extractor

# N64 ROMS #
############
*.z64
*.n64
*.v64

# Exported binaries #
#####################
*.bin
